/*! _lifestyle.scss | Vuero | Css ninja 2020-2021 */

/*
    1. Lifestyle Dashboard V1
    2. Lifestyle Dashboard V1 Dark mode
    3. Lifestyle Dashboard V2
    4. Lifestyle Dashboard V3
    5. Lifestyle Dashboard V4
    6. Lifestyle Dashboard V4 Dark mode
    7. Media Queries
*/

/* ==========================================================================
1. Lifestyle Dashboard V1
========================================================================== */

/* ==========================================================================
2. Lifestyle Dashboard V1 Dark mode
========================================================================== */

/* ==========================================================================
3. Lifestyle Dashboard V2
========================================================================== */

.lifestyle-dashboard {
  &.lifestyle-dashboard-v2 {
    .dashboard-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      font-family: $font;

      &.is-main {
        margin-bottom: 30px;

        h2 {
          font-size: 1.8rem;
        }
      }

      h2 {
        font-family: $font-alt;
        font-size: 1.2rem;
        font-weight: 600;
        color: $dark-text;
      }
    }

    .long-card {
      @include vuero-l-card();

      position: relative;
      min-height: 300px;

      &:hover {
        .long-card-overlay {
          opacity: 0.5;
          pointer-events: all;
        }

        .long-card-text-overlay {
          opacity: 1;
          pointer-events: all;

          .top,
          .bottom {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }

      .long-card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $dark-sidebar;
        opacity: 0;
        pointer-events: none;
        z-index: 1;
        cursor: pointer;
        border-radius: 16px;
        transition: all 0.3s;
      }

      .long-card-text-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        font-family: $font;
        opacity: 0;
        pointer-events: none;
        z-index: 2;
        overflow: hidden;
        cursor: pointer;

        .top,
        .bottom {
          transition: all 0.2s;
          opacity: 0;
          transition-delay: 0.15s;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: $smoke-white;
        }

        .top {
          transform: translateY(-30px);
          font-weight: 500;
          font-size: 0.75rem;
          letter-spacing: 2px;
          text-transform: uppercase;
        }

        .bottom {
          font-size: 0.9rem;
          transform: translateY(30px);
        }
      }
    }

    .dashboard-list {
      .inner-list {
        .media-flex-center {
          @include vuero-l-card();

          display: flex;
          padding: 12px;
          max-height: 66px;

          &:hover {
            .flex-end {
              .rating {
                opacity: 1;
              }
            }
          }

          .flex-meta {
            max-width: 160px;
            width: 100%;
          }

          .flex-end {
            .rating {
              padding: 0 20px;
              opacity: 0;
              transition: all 0.3s;

              i {
                font-size: 12px;
                color: darken($widget-grey, 12%);

                &.selected {
                  color: $h-yellow;
                }
              }
            }
          }
        }
      }
    }
  }
}
.is-dark {
  .lifestyle-dashboard {
    &.lifestyle-dashboard-v2 {
      .long-card {
        @include vuero-card--dark();
      }

      .dashboard-list {
        .inner-list {
          .media-flex-center {
            @include vuero-card--dark();
          }
        }
      }
    }
  }
}

/* ==========================================================================
4. Lifestyle Dashboard V3
========================================================================== */

.lifestyle-dashboard {
  &.lifestyle-dashboard-v3 {
    .illustration-header {
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 16px;
      background: darken($primary, 24%);
      font-family: $font;
      margin-bottom: 30px;

      .header-image {
        position: relative;
        height: 168px;
        width: 280px;

        img {
          position: absolute;
          top: -76px;
          left: -30px;
          display: block;
          pointer-events: none;
        }
      }

      .header-meta {
        margin-left: 0;

        h3 {
          color: $smoke-white;
          font-family: $font-alt;
          font-weight: 700;
          font-size: 1.3rem;
        }

        p {
          font-weight: 400;
          color: darken($smoke-white, 16%);
          margin-bottom: 16px;
        }

        .summary-stats {
          display: flex;

          .summary-stat {
            margin-right: 30px;

            span {
              font-family: $font;
              display: block;

              &:first-child {
                font-size: 1.1rem;
                font-family: $font-alt;
                color: $smoke-white;
              }

              &:nth-child(2) {
                color: lighten($primary, 18%);
                font-size: 0.85rem;
              }
            }
          }
        }

        .action-link {
          span {
            font-size: 0.8rem;
            text-transform: uppercase;
            margin-right: 6px;
          }

          i {
            font-size: 12px;
          }
        }
      }
    }

    .health-tile {
      font-family: $font;

      .tile-head {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .v-icon {
          margin-right: 10px;
        }

        h4 {
          span {
            &:first-child {
              font-size: 1.2rem;
              font-weight: 600;
              color: $dark-text;
            }

            &:nth-child(2) {
              font-size: 0.95rem;
              color: $light-text;
            }
          }
        }
      }

      h3 {
        font-family: $font-alt;
        font-size: 0.95rem;
        font-weight: 600;
        color: $dark-text;
      }

      p {
        font-size: 0.95rem;
      }
    }

    .dashboard-card {
      @include vuero-l-card();

      .card-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;

        h3 {
          color: $dark-text;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }

      .chart-meta {
        p {
          font-size: 0.95rem;
          max-width: 80%;

          svg {
            position: relative;
            top: 2px;
            height: 16px;
            width: 16px;
            color: $light-text;
          }

          a {
            color: $primary;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.is-dark {
  .lifestyle-dashboard {
    &.lifestyle-dashboard-v3 {
      .dashboard-card {
        @include vuero-card--dark();
      }
    }
  }
}

/* ==========================================================================
5. Lifestyle Dashboard V4
========================================================================== */

.lifestyle-dashboard {
  &.lifestyle-dashboard-v4 {
    .illustration-header-2 {
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 16px;
      background: $primary;
      font-family: $font;
      box-shadow: $primary-box-shadow;

      .header-image {
        position: relative;
        height: 175px;
        width: 320px;

        img {
          position: absolute;
          top: 0;
          left: -40px;
          display: block;
          pointer-events: none;
        }
      }

      .header-meta {
        margin-left: 0;
        padding-right: 30px;

        h3 {
          color: $smoke-white;
          font-family: $font-alt;
          font-weight: 700;
          font-size: 1.3rem;
          max-width: 280px;
        }

        p {
          font-weight: 400;
          color: darken($smoke-white, 2%);
          margin-bottom: 16px;
          max-width: 320px;
        }

        .action-link {
          span {
            font-size: 0.8rem;
            text-transform: uppercase;
            margin-right: 6px;
          }

          i {
            font-size: 12px;
          }
        }
      }
    }

    .writing-stats {
      display: flex;
      margin-bottom: 1rem;
      margin-left: -8px;
      margin-right: -8px;

      .writing-stat {
        @include vuero-l-card();

        margin: 8px;
        width: calc(33.3% - 16px);
        padding: 12px;

        span {
          display: block;

          &:first-child {
            font-family: $font-alt;
            font-size: 0.8rem;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 5px;
            color: $light-text;
          }

          &:nth-child(2) {
            font-family: $font;
            font-weight: 700;
            font-size: 1.8rem;
            color: $dark-text;
          }
        }
      }
    }

    .featured-authors {
      @include vuero-l-card();

      padding: 20px;

      .featured-authors-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        h3 {
          font-family: $font-alt;
          font-weight: 600;
          font-size: 1.1rem;
          color: $dark-text;
        }

        .action-link {
          font-size: 0.9rem;
        }
      }

      .featured-authors-list {
        .featured-authors-item {
          &:not(:last-child) {
            margin-bottom: 20px;
          }

          .media-flex-center {
            .flex-end {
              span {
                font-family: $font-alt;
                font-weight: 600;
                color: $dark-text;
              }
            }
          }
        }
      }
    }

    .updates {
      @include vuero-l-card();

      padding: 20px;
      margin-top: 8px;

      .updates-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        h3 {
          font-family: $font-alt;
          font-weight: 600;
          font-size: 1.1rem;
          color: $dark-text;
        }

        .action-link {
          font-size: 0.9rem;
        }
      }

      .updates-list {
        .update-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 16px;
          padding-bottom: 16px;
          border-bottom: 1px solid darken($fade-grey, 3%);

          &:last-child {
            margin-bottom: 0;
            border-bottom: none;
          }

          p {
            font-size: 0.9rem;
          }

          span {
            display: block;
            min-width: 60px;
            text-align: right;
            font-family: $font;
            font-weight: 600;
            font-size: 0.8rem;
            color: $dark-text;
          }
        }
      }
    }

    .articles-feed {
      background: $widget-grey;
      padding: 30px;
      border-radius: 12px;

      .articles-feed-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        h3 {
          font-family: $font-alt;
          font-weight: 600;
          font-size: 1.1rem;
          color: $dark-text;
        }

        .action-link {
          font-size: 0.9rem;
        }
      }

      .articles-feed-subheader {
        margin-bottom: 20px;

        .selector {
          .button {
            font-size: 0.8rem;
            border-radius: 50px;
            margin-right: 4px;

            &.is-selected {
              background: $primary;
              color: $white;
              border-color: $primary;
              box-shadow: $primary-box-shadow;
            }
          }
        }
      }

      .articles-feed-list {
        .articles-feed-list-inner {
          .articles-feed-item {
            display: block;

            &:not(:last-child) {
              margin-bottom: 20px;
            }

            .featured-image {
              height: 180px;
              overflow: hidden;
              border-top-left-radius: 18px;
              border-top-right-radius: 18px;

              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .featured-content {
              position: relative;
              padding: 25px;
              border-radius: 18px;
              background: $white;
              margin-top: -40px;
              z-index: 1;

              h4,
              p {
                margin-bottom: 10px;
              }

              h4 {
                font-family: $font-alt;
                font-size: 1rem;
                font-weight: 600;
                color: $dark-text;
              }

              .media-flex-center {
                .flex-meta {
                  span {
                    font-size: 0.8rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* ==========================================================================
6. Lifestyle Dashboard V4 Dark mode
========================================================================== */

.is-dark {
  .lifestyle-dashboard {
    &.lifestyle-dashboard-v4 {
      .illustration-header-2 {
        background: $dark-sidebar;
        box-shadow: none;
      }

      .writing-stats {
        .writing-stat {
          @include vuero-card--dark();
        }
      }

      .updates,
      .featured-authors {
        @include vuero-card--dark();
      }

      .articles-feed {
        background: lighten($dark-sidebar, 8%);

        .articles-feed-subheader {
          .selector {
            .button {
              &.is-selected {
                background: $accent !important;
                border-color: $accent !important;
                box-shadow: $accent-box-shadow !important;
                color: $white !important;
              }
            }
          }
        }

        .articles-feed-list {
          .articles-feed-list-inner {
            .articles-feed-item {
              .featured-content {
                background: $dark-sidebar;
              }
            }
          }
        }
      }
    }
  }
}

/* ==========================================================================
7. Media Queries
========================================================================== */

@media only screen and (max-width: 767px) {
  .lifestyle-dashboard {
    &.lifestyle-dashboard-v2 {
      .long-card {
        .long-card-overlay {
          opacity: 0.5 !important;
          pointer-events: all !important;
        }

        .long-card-text-overlay {
          opacity: 1 !important;
          pointer-events: all !important;
          padding: 30px;

          .top,
          .bottom {
            font-size: 1rem;
            opacity: 1 !important;
            transform: translateY(0) !important;
          }
        }
      }
    }

    &.lifestyle-dashboard-v3 {
      .illustration-header {
        flex-direction: column;
        text-align: center;

        .header-image {
          height: auto;
          width: 100%;

          img {
            position: relative;
            width: 100%;
            max-width: 260px;
            margin: 0 auto;
            top: 0;
            margin-top: -75px;
          }
        }

        .header-meta {
          padding: 20px;

          > p {
            max-width: 280px;
            margin-left: auto;
            margin-right: auto;
          }

          .summary-stats {
            flex-wrap: wrap;

            .summary-stat {
              margin: 10px;
              min-width: calc(33.3% - 20px);
            }
          }
        }
      }

      .health-tile {
        padding: 20px;
        background: $white;
        border: 1px solid darken($fade-grey, 3%);
        border-radius: 10px;
      }
    }

    &.lifestyle-dashboard-v4 {
      .illustration-header-2 {
        flex-direction: column;
        text-align: center;

        .header-image {
          height: auto;
          width: 100%;

          img {
            position: relative;
            width: 100%;
            max-width: 260px;
            margin: 0 auto;
            top: 0;
            left: 0;
            margin-top: -34px;
          }
        }

        .header-meta {
          padding: 20px;

          > p {
            max-width: 280px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      .writing-stats {
        .writing-stat {
          text-align: center;
        }
      }
    }
  }

  .is-dark {
    .lifestyle-dashboard {
      &.lifestyle-dashboard-v3 {
        .health-tile {
          background: lighten($dark-sidebar, 6%);
          border-color: lighten($dark-sidebar, 12%);
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .lifestyle-dashboard {
    &.lifestyle-dashboard-v2 {
      .is-flex-tablet-p {
        .column {
          &.is-3 {
            min-width: 25% !important;
            width: 25% !important;

            .long-card {
              .long-card-overlay {
                opacity: 0.5 !important;
                pointer-events: all !important;
              }

              .long-card-text-overlay {
                opacity: 1 !important;
                pointer-events: all !important;

                .top,
                .bottom {
                  opacity: 1 !important;
                  transform: translateY(0) !important;
                }

                .top {
                  i {
                    display: none !important;
                  }
                }

                .bottom {
                  .avatar-stack {
                    display: none !important;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.lifestyle-dashboard-v3 {
      .illustration-header {
        .header-image {
          width: 250px;
        }
      }
    }

    &.lifestyle-dashboard-v4 {
      .articles-feed {
        .articles-feed-list {
          .articles-feed-list-inner {
            display: flex;
            flex-wrap: wrap;
            margin-left: -12px;
            margin-right: -12px;

            .articles-feed-item {
              width: calc(50% - 24px);
              margin: 12px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .lifestyle-dashboard {
    &.lifestyle-dashboard-v2 {
      .long-card {
        .long-card-overlay {
          opacity: 0.5 !important;
          pointer-events: all !important;
        }

        .long-card-text-overlay {
          opacity: 1 !important;
          pointer-events: all !important;

          .top,
          .bottom {
            opacity: 1 !important;
            transform: translateY(0) !important;
          }

          .top {
            i {
              display: none !important;
            }
          }

          .bottom {
            .avatar-stack {
              display: none !important;
            }
          }
        }
      }
    }

    &.lifestyle-dashboard-v4 {
      .updates {
        .updates-list {
          .update-item {
            > span {
              display: none;
            }
          }
        }
      }

      .articles-feed {
        padding: 20px;
      }
    }
  }
}
