/*! _dark.scss | Vuero | Css ninja 2020-2021 */

/*
    1. Layout Dark mode
*/

/* ==========================================================================
1. Layout Dark mode
========================================================================== */

.is-dark {
  background: $dark-sidebar-light-10;

  &.is-chat-side-collapsed {
    background: $dark-sidebar-light-5 !important;
  }

  &.opened {
    background: $dark-sidebar-light-5;
  }

  .pageloader {
    background: $dark-sidebar-light-10;
  }

  .infraloader {
    background: $dark-sidebar-light-15 !important;
  }

  .page-title {
    h1 {
      color: $accent-grey-light-3;
    }
  }

  .menu-toggle i {
    background: $accent;
  }

  .view-wrapper,
  .minimal-wrapper {
    background: $dark-sidebar-light-10;
    border-color: $dark-sidebar-light-10;
  }

  .zoom-overlay {
    background: $dark-sidebar-light-10;
    border-color: $dark-sidebar-light-10;
  }
}
