/*! _variables.scss | Vuero | Css ninja 2020-2021 */

/*
    1. Main Colors
    2. Global colors
    3. Brands colors
    4. Fonts
    5. Layout
    6. Base Shadows
    7. State Shadows
    8. Stack Shadows
    9. Brand Shadows
    10. Additional Colors Shadows
    11. Import bulma utilities
*/

/* ==========================================================================
1. Main Colors
========================================================================== */

$primary: #41b883;
$primary-dark-2: #3eb07e; // darken($primary, 2%);
$primary-dark-5: #3aa576; // darken($primary, 5%);
$primary-dark-6: #39a173; // darken($primary, 6%);
$primary-dark-7: #389e70; // darken($primary, 7%);
$primary-dark-8: #369a6e; // darken($primary, 8%);
$primary-dark-10: #349268; // darken($primary, 10%);
$primary-dark-14: #2e835d; // darken($primary, 14%);
$primary-dark-24: #215e43; // darken($primary, 24%);
$primary-light-2: #46be88; // lighten($primary, 2%);
$primary-light-3: #49bf8b; // lighten($primary, 3%);
$primary-light-6: #55c392; // lighten($primary, 6%);
$primary-light-8: #5cc697; // lighten($primary, 8%);
$primary-light-10: #64c89b; // lighten($primary, 10%);
$primary-light-12: #6bcba0; // lighten($primary, 12%);
$primary-light-15: #77cfa8; // lighten($primary, 15%);
$primary-light-18: #82d3af; // lighten($primary, 18%);
$primary-light-20: #8ad5b4; // lighten($primary, 20%);
$primary-light-24: #99dbbd; // lighten($primary, 24%);
$primary-light-30: #afe3cc; // lighten($primary, 30%);
$primary-light-40: #d5f0e4; // lighten($primary, 40%);
$primary-light-42: #dcf3e9; // lighten($primary, 42%);
$primary-light-45: #e8f7f0; // lighten($primary, 45%);
$primary-light-48: #f3fbf7; // lighten($primary, 48%);
$primary-light-50: #fbfdfc; // lighten($primary, 50%);
$primary-light-51: #feffff; // lighten($primary, 51%);

$secondary: #346beb;
$secondary-light-42: #f7f9fe; // lighten($secondary, 42%);

$accent: $primary;
$accent-dark-2: #3eb07e; // darken($accent, 2%);
$accent-dark-4: #3ca978; // darken($accent, 4%);
$accent-dark-5: #3aa576; // darken($accent, 5%);
$accent-dark-8: #369a6e; // darken($accent, 8%);
$accent-dark-15: #2d7f5b; // darken($accent, 15%);
$accent-light-2: #46be88; // lighten($accent, 2%);
$accent-light-8: #5cc697; // lighten($accent, 8%);
$accent-light-10: #64c89b; // lighten($accent, 10%);
$accent-light-12: #6bcba0; // lighten($accent, 12%);
$accent-light-18: #82d3af; // lighten($accent, 18%);
$accent-light-20: #8ad5b4; // lighten($accent, 20%);
$accent-light-22: #91d8b8; // lighten($accent, 22%);
$accent-light-25: #9cdcc0; // lighten($accent, 25%);
$accent-light-32: #b7e5d1; // lighten($accent, 32%);
$accent-light-36: #c6ebda; // lighten($accent, 36%);

/* ==========================================================================
2. Global colors
========================================================================== */

$body-color: #f9f9f9;
$active: #6dcff6;
$sidebar: #344258;
$white: #fff;
$dark: #283252;

$light-white: $body-color;
$title-grey: #a9abac;
$background-grey: #f0f0f0;
$medium-grey: #ddd;
$light-grey: #eee;
$lighter-grey: #e5e5e5;

$smoke-white: #fcfcfc;
$smoke-white-dark-2: #f7f7f7; // darken($smoke-white, 2%);
$smoke-white-dark-8: #e8e8e8; // darken($smoke-white, 8%);
$smoke-white-dark-10: #e3e3e3; // darken($smoke-white, 10%);
$smoke-white-dark-16: #d3d3d3; // darken($smoke-white, 16%);
$smoke-white-light-2: #fff; // lighten($smoke-white, 2%);

$placeholder: #cecece;
$placeholder-dark-8: #bababa; // darken($placeholder, 8%);
$placeholder-light-10: #e8e8e8; // lighten($placeholder, 10%);
$placeholder-light-16: #f7f7f7; // lighten($placeholder, 16%);

$muted-grey: #999;
$muted-grey-dark-25: #595959; // darken($muted-grey, 25%);
$muted-grey-light-14: #bdbdbd; // lighten($muted-grey, 14%);
$muted-grey-light-15: #bfbfbf; // lighten($muted-grey, 15%);

$fade-grey: #ededed;
$fade-grey-dark-2: #e8e8e8; // darken($fade-grey, 2%);
$fade-grey-dark-3: #e5e5e5; // darken($fade-grey, 3%);
$fade-grey-dark-4: #e3e3e3; // darken($fade-grey, 4%);
$fade-grey-dark-5: #e0e0e0; // darken($fade-grey, 5%);
$fade-grey-dark-6: #dedede; // darken($fade-grey, 6%);
$fade-grey-dark-8: #d9d9d9; // darken($fade-grey, 8%);
$fade-grey-light-2: #f2f2f2; // lighten($fade-grey, 2%);
$fade-grey-light-3: #f5f5f5; // lighten($fade-grey, 3%);
$fade-grey-light-4: #f7f7f7; // lighten($fade-grey, 4%);
$fade-grey-light-5: #fafafa; // lighten($fade-grey, 5%);
$fade-grey-light-6: #fcfcfc; // lighten($fade-grey, 6%);

$accent-grey: #ccc;
$accent-grey-dark-4: #c2c2c2; // darken($accent-grey, 4%);
$accent-grey-dark-5: #bfbfbf; // darken($accent-grey, 5%);
$accent-grey-dark-8: #b8b8b8; // darken($accent-grey, 8%);
$accent-grey-dark-10: #b3b3b3; // darken($accent-grey, 10%);
$accent-grey-dark-15: #a6a6a6; // darken($accent-grey, 15%);
$accent-grey-dark-20: #999; // darken($accent-grey, 20%);
$accent-grey-dark-30: #808080; // darken($accent-grey, 30%);
$accent-grey-dark-35: #737373; // darken($accent-grey, 35%);
$accent-grey-dark-40: #666; // darken($accent-grey, 40%);
$accent-grey-light-2: #d1d1d1; // lighten($accent-grey, 2%);
$accent-grey-light-3: #d4d4d4; // lighten($accent-grey, 3%);
$accent-grey-light-5: #d9d9d9; // lighten($accent-grey, 5%);
$accent-grey-light-6: #dbdbdb; // lighten($accent-grey, 6%);
$accent-grey-light-10: #e6e6e6; // lighten($accent-grey, 10%);

$widget-grey: #f5f6fa;
$widget-grey-dark-1: #f2f3f8; // darken($widget-grey, 1%);
$widget-grey-dark-2: #eef0f7; // darken($widget-grey, 2%);
$widget-grey-dark-3: #ebedf5; // darken($widget-grey, 3%);
$widget-grey-dark-4: #e7eaf3; // darken($widget-grey, 4%);
$widget-grey-dark-8: #dde1ee; // darken($widget-grey, 8%);
$widget-grey-dark-12: #ccd1e6; // darken($widget-grey, 12%);
$widget-grey-light-1: #f8f9fc; // lighten($widget-grey, 1%);

$dark-dark-text: #aaaab3;
$dark-dark-text-light-14: #d0d0d5; // lighten($dark-dark-text, 14%);

$dark-text: #283252; // $dark;
$dark-text-light-18: #465890; // lighten($dark-text, 18%);
$dark-text-light-25: #5266a8; // lighten($dark-text, 25%);
$dark-text-light-35: #7283ba; // lighten($dark-text, 35%);

$light-text: #a2a5b9;
$light-text-dark-2: #9c9fb5; // darken($light-text, 2%);
$light-text-dark-4: #969ab0; // darken($light-text, 4%);
$light-text-dark-5: #9397ae; // darken($light-text, 5%);
$light-text-dark-6: #9194ac; // darken($light-text, 6%);
$light-text-dark-8: #8b8ea7; // darken($light-text, 8%);
$light-text-dark-10: #8589a3; // darken($light-text, 10%);
$light-text-dark-12: #7f839f; // darken($light-text, 12%);
$light-text-dark-20: #696e8c; // darken($light-text, 20%);
$light-text-dark-22: #656986; // darken($light-text, 22%);
$light-text-light-2: #a8abbd; // lighten($light-text, 2%);
$light-text-light-5: #b1b3c4; // lighten($light-text, 5%);
$light-text-light-6: #b3b6c6; // lighten($light-text, 6%);
$light-text-light-12: #c5c7d3; // lighten($light-text, 12%);
$light-text-light-15: #cecfda; // lighten($light-text, 15%);

$danger: #e62965;
$danger-light-20: #f184a7; // lighten($danger, 20%);
$danger-light-24: #f397b4; // lighten($danger, 24%);
$danger-light-36: #f9cddb; // lighten($danger, 36%);
$danger-light-40: #fbe0e8; // lighten($danger, 40%);

$info: #039be5;
$info-light-20: #51c5fd; // lighten($info, 20%);
$info-light-24: #65cbfd; // lighten($info, 24%);
$info-light-45: #cfeffe; // lighten($info, 45%);

$success: #06d6a0;
$success-light-20: #48facc; // lighten($success, 20%);
$success-light-24: #5cfad1; // lighten($success, 24%);
$success-light-40: #abfde8; // lighten($success, 40%);
$success-light-45: #c4fdef; // lighten($success, 45%);
$success-light-48: #d3fef3; // lighten($success, 48%);

$warning: #faae42;
$warning-light-20: #fdd9a5; // lighten($warning, 20%);
$warning-light-24: #fde1b9; // lighten($warning, 24%);
$warning-light-32: #fef2e1; // lighten($warning, 24%);

$h-purple: #8269b2;
$h-purple-light-36: #e7e2f0; // lighten($h-purple, 36%);
$h-purple-light-38: #ede9f4; // lighten($h-purple, 38%);

$h-blue: #37c3ff;
$h-blue-light-32: #daf4ff; // lighten($h-blue, 32%);
$h-blue-light-34: #e4f7ff; // lighten($h-blue, 34%);

$h-red: #f92b60;
$h-red-light-38: #fee7ed; // lighten($h-red, 38%);

$h-orange: #ffa981;
$h-orange-light-18: #ffe8dd; // lighten($h-orange, 18%);
$h-orange-light-20: #ffefe7; // lighten($h-orange, 20%);

$h-yellow: #ffd66e;
$h-yellow-dark-8: #ffca45; // darken($h-yellow, 8%);
$h-yellow-light-22: #fff6de; // lighten($h-yellow, 22%);

$h-green: #93e088;
$h-green-dark-7: #79d96c; // darken($h-green, 7%);
$h-green-light-15: #caf0c5; // lighten($h-green, 15%);
$h-green-light-22: #e4f7e1; // lighten($h-green, 22%);
$h-green-light-23: #e7f8e5; // lighten($h-green, 23%);

$h-pink: #ff9eb8;
$h-light-blue: #77d2f3;

$dark-sidebar: #232326;
$dark-sidebar-dark-2: #1e1e21; // darken($dark-sidebar, 2%);
$dark-sidebar-dark-3: #1c1c1e; // darken($dark-sidebar, 3%);
$dark-sidebar-dark-4: #19191b; // darken($dark-sidebar, 4%);
$dark-sidebar-dark-5: #171719; // darken($dark-sidebar, 5%);
$dark-sidebar-dark-6: #141416; // darken($dark-sidebar, 6%);
$dark-sidebar-dark-10: #0b0b0b; // darken($dark-sidebar, 10%);
$dark-sidebar-light-1: #252529; // lighten($dark-sidebar, 1%);
$dark-sidebar-light-2: #28282b; // lighten($dark-sidebar, 2%);
$dark-sidebar-light-3: #2a2a2e; // lighten($dark-sidebar, 3%);
$dark-sidebar-light-4: #2d2d31; // lighten($dark-sidebar, 4%);
$dark-sidebar-light-5: #2f2f33; // lighten($dark-sidebar, 5%);
$dark-sidebar-light-6: #323236; // lighten($dark-sidebar, 6%);
$dark-sidebar-light-7: #343439; // lighten($dark-sidebar, 7%);
$dark-sidebar-light-8: #37373b; // lighten($dark-sidebar, 8%);
$dark-sidebar-light-9: #39393e; // lighten($dark-sidebar, 9%);
$dark-sidebar-light-10: #3b3b41; // lighten($dark-sidebar, 10%);
$dark-sidebar-light-12: #404046; // lighten($dark-sidebar, 12%);
$dark-sidebar-light-14: #45454b; // lighten($dark-sidebar, 14%);
$dark-sidebar-light-15: #48484e; // lighten($dark-sidebar, 15%);
$dark-sidebar-light-16: #4a4a50; // lighten($dark-sidebar, 16%);
$dark-sidebar-light-18: #4f4f56; // lighten($dark-sidebar, 18%);
$dark-sidebar-light-20: #54545b; // lighten($dark-sidebar, 20%);
$dark-sidebar-light-22: #595960; // lighten($dark-sidebar, 22%);
$dark-sidebar-light-25: #606068; // lighten($dark-sidebar, 25%);
$dark-sidebar-light-55: #aeaeb4; // lighten($dark-sidebar, 55%);

$landing-dark-1: #0c0e14;
$landing-dark-3: #080a0e; // darken($landing-dark-1, 2%);
$landing-dark-12: #10121a; // lighten($landing-dark-1, 2%);
$landing-dark-13: #141721; // lighten($landing-dark-1, 4%);
$landing-dark-14: #171b27; // lighten($landing-dark-1, 6%);
$landing-dark-15: #1b202e; // lighten($landing-dark-1, 8%);
$landing-dark-16: #23293a; // lighten($landing-dark-1, 12%);
$landing-dark-17: #272d41; // lighten($landing-dark-1, 14%);
$landing-dark-18: #2e364d; // lighten($landing-dark-1, 18%);

$landing-dark-2: #191c2b;
$landing-dark-4: #151825; // darken($landing-dark-2, 2%);
$landing-dark-5: #0e0f18; // darken($landing-dark-2, 6%);
$landing-dark-6: #030304; // darken($landing-dark-2, 12%);
$landing-dark-7: #1d2031; // lighten($landing-dark-2, 2%);
$landing-dark-8: #212438; // lighten($landing-dark-2, 4%);
$landing-dark-9: #24293e; // lighten($landing-dark-2, 6%);
$landing-dark-10: #282d45; // lighten($landing-dark-2, 8%);
$landing-dark-11: #3b4265; // lighten($landing-dark-2, 18%);

/* ==========================================================================
3. Brands colors
========================================================================== */

$javascript: #f7df1e;
$angular: #dd1b16;
$reactjs: #00d8ff;
$android: #a4c639;
$swift: #ef3e31;
$vuejs: #4dba87;
$wordpress: #21759b;
$csharp: #9a4993;
$nodejs: #6cc24a;
$html: #f16529;

$facebook: #3b5998;
$twitter: #1dcaff;
$linkedin: #007bb6;
$tumblr: #35465c;
$github: #444;
$dribbble: #ea4c89;
$google-plus: #d34836;
$youtube: #cc181e;
$reddit: #ff4500;
$invision: #f36;
$amazon: #f90;
$instagram: #e1306c;

$vuero-colors: (
  primary: $primary,
  secondary: $secondary,
  accent: $accent,
  info: $info,
  success: $success,
  warning: $warning,
  danger: $danger,
  light-text: $light-text,
  h-purple: $h-purple,
  h-blue: $h-blue,
  h-green: $h-green,
  h-orange: $h-orange,
  h-red: $h-red,
  h-yellow: $h-yellow,
  javascript: $javascript,
  angular: $angular,
  reactjs: $reactjs,
  android: $android,
  swift: $swift,
  vuejs: $vuejs,
  wordpress: $wordpress,
  csharp: $csharp,
  nodejs: $nodejs,
  html: $html,
  facebook: $facebook,
  twitter: $twitter,
  linkedin: $linkedin,
  tumblr: $tumblr,
  github: $github,
  dribbble: $dribbble,
  google-plus: $google-plus,
  youtube: $youtube,
  reddit: $reddit,
  invision: $invision,
  amazon: $amazon,
  instagram: $instagram,
);

/* ==========================================================================
4. Fonts
========================================================================== */

$font: 'Roboto', sans-serif;
$font-alt: 'Montserrat', sans-serif;
$font-monospace: 'Fira Code', monospace;

/* ==========================================================================
5. Layout
========================================================================== */

$fullhd-enabled: false;
$body-size: 14px;
$spaceamounts: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100;
$sides: top, bottom, left, right;

$radius-small: 2px;
$radius: 4px;
$radius-large: 6px;
$radius-rounded: 9999px;

$placeload-nuance-from: rgba(0, 0, 0, 0.07);
$placeload-nuance-to: rgba(0, 0, 0, 0.15);
$placeload-dark-nuance-from: rgba(255, 255, 255, 0.15);
$placeload-dark-nuance-to: rgba(255, 255, 255, 0.24);

/* ==========================================================================
6. Base Shadows
========================================================================== */

//Base shadow
$base-shadow: rgba(0, 0, 0, 0.12);

//Light
$light-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
$light-box-shadow-md: -1px 3px 10px 0 rgba(0, 0, 0, 0.12);

//Primary
$primary-shadow-from: rgba($primary, 0.42);
$primary-shadow-to: rgba($primary, 0.2);
$primary-box-shadow: 0 14px 26px -12px $primary-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $primary-shadow-to;

//Secondary
$secondary-shadow-from: rgba($secondary, 0.42);
$secondary-shadow-to: rgba($secondary, 0.2);
$secondary-box-shadow: 0 14px 26px -12px $secondary-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $secondary-shadow-to;

//Accent
$accent-shadow-from: rgba($accent, 0.42);
$accent-shadow-to: rgba($accent, 0.2);
$accent-box-shadow: 0 14px 26px -12px $accent-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $accent-shadow-to;

/* ==========================================================================
7. State Shadows
========================================================================== */

//Success
$success-shadow-from: rgba($success, 0.42);
$success-shadow-to: rgba($success, 0.2);
$success-box-shadow: 0 14px 26px -12px $success-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $success-shadow-to !important;

//Info
$info-shadow-from: rgba($info, 0.42);
$info-shadow-to: rgba($info, 0.2);
$info-box-shadow: 0 14px 26px -12px $info-shadow-from, 0 4px 23px 0 $base-shadow,
  0 8px 10px -5px $info-shadow-to !important;

//Warning
$warning-shadow-from: rgba($warning, 0.42);
$warning-shadow-to: rgba($warning, 0.2);
$warning-box-shadow: 0 14px 26px -12px $warning-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $warning-shadow-to !important;

//Danger
$danger-shadow-from: rgba($danger, 0.42);
$danger-shadow-to: rgba($danger, 0.2);
$danger-box-shadow: 0 14px 26px -12px $danger-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $danger-shadow-to !important;

/* ==========================================================================
8. Stack Shadows
========================================================================== */

//Javascript
$js-shadow-from: rgba($javascript, 0.42);
$js-shadow-to: rgba($javascript, 0.2);
$js-box-shadow: 0 14px 26px -12px $js-shadow-from, 0 4px 23px 0 $base-shadow,
  0 8px 10px -5px $js-shadow-to !important;

//Angular
$angular-shadow-from: rgba($angular, 0.42);
$angular-shadow-to: rgba($angular, 0.2);
$angular-box-shadow: 0 14px 26px -12px $angular-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $angular-shadow-to !important;

//React
$reactjs-shadow-from: rgba($reactjs, 0.42);
$reactjs-shadow-to: rgba($reactjs, 0.2);
$reactjs-box-shadow: 0 14px 26px -12px $reactjs-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $reactjs-shadow-to !important;

//Android
$android-shadow-from: rgba($android, 0.42);
$android-shadow-to: rgba($android, 0.2);
$android-box-shadow: 0 14px 26px -12px $android-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $android-shadow-to !important;

//Swift
$swift-shadow-from: rgba($swift, 0.42);
$swift-shadow-to: rgba($swift, 0.2);
$swift-box-shadow: 0 14px 26px -12px $swift-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $swift-shadow-to !important;

//Wordpress
$wordpress-shadow-from: rgba($wordpress, 0.42);
$wordpress-shadow-to: rgba($wordpress, 0.2);
$wordpress-box-shadow: 0 14px 26px -12px $wordpress-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $wordpress-shadow-to !important;

//C#
$csharp-shadow-from: rgba($csharp, 0.42);
$csharp-shadow-to: rgba($csharp, 0.2);
$csharp-box-shadow: 0 14px 26px -12px $csharp-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $csharp-shadow-to !important;

/* ==========================================================================
9. Brand Shadows
========================================================================== */

//Github
$github-shadow-from: rgba($github, 0.42);
$github-shadow-to: rgba($github, 0.2);
$github-box-shadow: 0 14px 26px -12px $github-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $github-shadow-to !important;

//Invision
$invision-shadow-from: rgba($invision, 0.42);
$invision-shadow-to: rgba($invision, 0.2);
$invision-box-shadow: 0 14px 26px -12px $invision-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $invision-shadow-to !important;

//Linkedin
$linkedin-shadow-from: rgba($linkedin, 0.42);
$linkedin-shadow-to: rgba($linkedin, 0.2);
$linkedin-box-shadow: 0 14px 26px -12px $linkedin-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $linkedin-shadow-to !important;

//Amazon
$amazon-shadow-from: rgba($amazon, 0.42);
$amazon-shadow-to: rgba($amazon, 0.2);
$amazon-box-shadow: 0 14px 26px -12px $amazon-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $amazon-shadow-to !important;

//Facebook
$facebook-shadow-from: rgba($facebook, 0.42);
$facebook-shadow-to: rgba($facebook, 0.2);
$facebook-box-shadow: 0 14px 26px -12px $facebook-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $facebook-shadow-to !important;

//Twitter
$twitter-shadow-from: rgba($twitter, 0.42);
$twitter-shadow-to: rgba($twitter, 0.2);
$twitter-box-shadow: 0 14px 26px -12px $twitter-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $twitter-shadow-to !important;

/* ==========================================================================
10. Additional Colors Shadows
========================================================================== */

//h-blue
$h-blue-shadow-from: rgba($h-blue, 0.42);
$h-blue-shadow-to: rgba($h-blue, 0.2);
$h-blue-box-shadow: 0 14px 26px -12px $h-blue-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $h-blue-shadow-to !important;

//h-yellow
$h-yellow-shadow-from: rgba($h-yellow, 0.42);
$h-yellow-shadow-to: rgba($h-yellow, 0.2);
$h-yellow-box-shadow: 0 14px 26px -12px $h-yellow-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $h-yellow-shadow-to !important;

//h-orange
$h-orange-shadow-from: rgba($h-orange, 0.42);
$h-orange-shadow-to: rgba($h-orange, 0.2);
$h-orange-box-shadow: 0 14px 26px -12px $h-orange-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $h-orange-shadow-to !important;

//h-green
$h-green-shadow-from: rgba($h-green, 0.42);
$h-green-shadow-to: rgba($h-green, 0.2);
$h-green-box-shadow: 0 14px 26px -12px $h-green-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $h-green-shadow-to !important;

//h-purple
$h-purple-shadow-from: rgba($h-purple, 0.42);
$h-purple-shadow-to: rgba($h-purple, 0.2);
$h-purple-box-shadow: 0 14px 26px -12px $h-purple-shadow-from,
  0 4px 23px 0 $base-shadow, 0 8px 10px -5px $h-purple-shadow-to !important;

/* ==========================================================================
11. Import bulma utilities
========================================================================== */

@import 'bulma/sass/utilities/_all.sass';
