/*! _forms-multiselect.scss | Vuero | Css ninja 2020-2021 */

/*
    1. Multiselect
*/

/* ==========================================================================
1. Multiselect
========================================================================== */

.is-rounded-select {
  .multiselect {
    .multiselect-input {
      border-radius: 500px;

      &::before {
        right: 20px;
      }
    }

    .multiselect-options {
      border-radius: 0.75rem;
      margin-top: 0.25rem;
    }
  }
}

.is-curved-select {
  .multiselect {
    .multiselect-input {
      border-radius: 0.5rem;

      &::before {
        //right: 20px;
      }
    }

    .multiselect-options {
      border-radius: 0.75rem;
      margin-top: 0.25rem;
    }
  }
}

.multiselect {
  font-family: $font;

  .multiselect-input {
    background: $white;
    min-height: 38px;

    .multiselect-single-label {
      font-size: 0.9rem;
    }

    .multiselect-placeholder,
    .multiselect-multiple-label {
      font-size: 0.9rem;
      color: $light-text;
    }
  }

  .multiselect-options {
    overflow-x: hidden;
    padding: 1rem;

    &::-webkit-scrollbar {
      width: 6px !important;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px !important;
      background: rgba(0, 0, 0, 0.2) !important;
    }

    .multiselect-option {
      border-radius: 0.5rem;
      transition: background-color 0.3s;

      &.is-pointed {
        background: $widget-grey;
      }

      &.is-selected {
        background: $primary !important;
        color: $white !important;
      }

      > span {
        font-size: 0.9rem;
      }
    }
  }
}
